/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
    color: $color-1;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    color: $color-1-hover;
}

/*--------------------------------------------------------------
8.0 - Clearings
--------------------------------------------------------------*/
.cf:before, .cf:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear:both;
}

