/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
    /*color: darken($color-1, 60%);*/
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

a:hover, a:visited:hover {
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    /*color: darken($color-1, 20%);*/
    color: rgb(0, 0, 0);
}

a:visited {
    /*color: darken($color-1, 60%);*/   
    color: rgb(0, 0, 0);
}

a[target="_blank"]:after {
    content: url('img/icon/ex-link.png');
    position: relative;
    bottom: 3px;
    margin-left: 3px;
}

/*--------------------------------------------------------------
8.0 - Clearings
--------------------------------------------------------------*/
.cf:before, .cf:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear:both;
}

