/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$color-1: rgb(237, 229, 0);/*vivid yellow*/
$color-2: rgb(55, 205, 35);/*vivid yellowish green*/
$color-3: rgb(0, 185, 235);/*light blue*/
$color-4: rgb(222,76,157);/*pink*/

/*$color-tw: rgb(85, 172, 238);
$color-fb: rgb(59, 89, 152);*/
$color-topbar: rgba(255, 255, 255, 1);/**/
/*$color-1: rgb(249,52,76);vivid yellow
$color-2: rgb(255,153,20);vivid yellowish green
$color-3: rgb(55, 205, 35);light blue
$color-4: rgb(22,176,157);pink
$color-5: rgb(56,135,202);
$color-6: rgb(164,90,170);*/
