/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

body {
    color: rgb(0, 0, 0);
    font-family:
       'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.font-green {
    color: rgb(135, 191, 112);
}

.font-orange {
    color: rgb(239, 126, 23);    
}

.font-red {
    color: rgb(219, 101, 101);    
}

.font-blue {
    color: rgb(80, 161,192);    
}
#top-content h2 {
    font-size: 36px;
}