/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

/*ad*/
.l-banner {
    position: absolute;
    top: 5px;
    right: 5%;
    z-index: 1001;
}

.sbr-banner {
    overflow: hidden;
    width: 250px;
    margin: auto;
    padding-top: 10px;
}

.fb {
    overflow: hidden;
}

.recommend-wrap {
    margin: 40px 0;
}

#mobile-ad {
    display: none;
}

@media all and (max-width: 1320px) {
    .l-banner {
        right: 5px;
    }
}

@media all and (max-width: 1024px) {
    .l-banner {
        position: relative;
        width: 728px;
        margin: auto;
        top: 170px;
    }
}

@media all and (max-width: 768px) {
    .l-banner {
        display: none;
    }
    #mobile-ad {
        display:block;
        position: fixed;
        bottom: 0;
        left: 50%;
        height: 50px;
        margin-left: -160px;
        z-index: 10000;
    }
}
