/* Welcome to Compass. Use this file to define typography styles.
 * use @import "ui/module/footer)" */

/*--------------------------------------------------------------
3.3 - Footers
--------------------------------------------------------------*/

#footer {
    background: rgb(255, 255, 255);
}

#footer-contact {
    h2 {
        margin: 0;
    }
    a {
        padding: 60px 0;
        display: block;
        background: $color-1;
        color: rgb(255, 255, 255);
        &:hover {
            background: darken($color-1, 20%);
        } 
    }
}

#footer-nav {
    padding: 40px 0;
    position: relative;
    .menu li {
        float: left;
        font-size: 14px;
        margin: 10px;
        a {
            color: rgb(255, 255, 255);
        }
    }
}

.footer__logo {
    > a {
        height: 22px;
        text-indent: -999999px;
        display: block;
        width: 191px;
        background: url('img/logo_w.png') no-repeat scroll 0px 0px / 191px 22px transparent;   
    }
}

#footer-fb {
    padding: 40px 0;
    background: rgba(255, 255, 255, .6);
    overflow: hidden;
    h2 {
        font-weight: normal;
        font-size: 48px;
        margin-bottom: 20px;
        span {
            color: rgb(180, 180, 180);
            margin-left: 20px;
            font-size: 24px;
            
        }
    }
}

.site-info{
    padding: 30px 10px;
    background: darken($color-1, 60%);
    text-align: center;
    font-size: 12px;
    color: rgb(255, 255, 255);
    a {
        color: rgb(255, 255, 255);
    }
}

@media all and (max-width: 768px) {
    #footer-fb {
        padding-bottom: 20px;
        h2 {
            font-size: 32px;
            margin-bottom: 10px;
            span {
                margin-left: 5px;
                font-size: 16px;

            }
        }
    }
}
