/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.2.0 Commons
--------------------------------------------------------------*/
#header {
    z-index: 1002;
}

#nav {
    width: 100%;
    a {
        font-size: 15px;
    }
}

.header__contact {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10000;
    li {
        margin: 0 2px;
        float: left;
	display: block;
    }
}

.tel {
    display: none;            
}

.spectrum {
    background: url('img/spectrum.png');
    display: block;
    width: 100%;
    height: 8px;
}

/*--------------------------------------------------------------
5.2.1 Header
--------------------------------------------------------------*/
.header {
    position: absolute;
    top: 0;
    height: 88px;
    width: 100%;
    background: $color-topbar;
}

.header--v {
    background: none;
}

.header__logo {
    padding-top: 32px;
    padding-left: 10px;
    float: left;
    display: inline;
    > a {
        height: 22px;
        text-indent: -999999px;
        display: block;
        width: 191px;
        background: url('img/logo.png') no-repeat scroll 0px 0px / 191px 22px transparent;   
    }
}

.header__logo--v {
/*    position: absolute;
    width: 100%;
    padding: 0;
    top: 170px;*/
    > a {
/*        margin: auto;
        width: 382px;
        height: 44px;
        background: url('img/logo_w.png') no-repeat scroll 0px 0px / 382px 44px transparent;   */
        background: url('img/logo_w.png') no-repeat scroll 0px 0px / 191px 22px transparent;   
    }
}

/*wpによる自動生成id名*/
#menu-primary {
    height: 88px;
    > li {
        line-height: 88px;
        a {
            &:visit {
            }
            &:hover {
            /*color: darken($color-1, 40%);*/
            }
        }
    }
    > .current_page_item a {
        color: darken($color-1, 25%);
        font-weight: bold;
    }
}

.header--v #menu-primary {
    a {
        color: rgb(255, 255, 255);
        &:visit {
        }
        &:hover {
            font-weight: bold;
            /*color: darken($color-1, 25%);*/
        }
    }
    > .current_page_item a {
        /*color: darken($color-1, 25%);*/
    }
}

.header__tel {
    margin-top: 20px;
    margin-right: 10px;
}

.topbar-info {
    text-align: right;
    margin-right: 10px;
}

.topbar-info--v p {
    color: rgb(255, 255, 255);
}

.phone-munber {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 24px;
    line-height: 1;
}

.office-hour {
    font-size: 12px;
    line-height: 1;
}

.header__link {
    li {
        a {
            width: 80px;
            height: 80px;    
            display: block;    
            font-size: 12px;
            line-height: 1;
            color: rgb(0, 0, 0);
            background: rgba(255, 255, 255, .4);
            text-align: center;
            @include border-radius (0 0 3px 3px);
        }
    }
}

.header__linktext {
    display: block;
    padding-top: 54px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 16px;
        left: 50%;
    }
}

.header__acccess {
    &:before {
        margin-left: -7.5px;
        width:15px;
        height: 24px;
        background: url('img/icon/pushpin.png') no-repeat scroll 0px 0px / 15px 24px transparent;
    }
}

.header__phone {
    &:before {
        margin-left: -12px;
        width: 24px;
        height: 24px;
        background: url('img/icon/phone.png') no-repeat scroll 0px 0px / 24px 24px transparent;
    }
}

.header__pencil {
    &:before {
        margin-left: -12px;
        width: 24px;
        height: 24px;
        background: url('img/icon/pencil.png') no-repeat scroll 0px 0px / 24px 24px transparent;
    }
}

.header--mobile {
    display: none;
}

@media all and (max-width: 768px) {
    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 42px;
        background: $color-topbar;
    }
    
    .header__logo {
        padding: 10px 0 0 0;
    }
    
    .header__logo a {
        height: 22px;
        text-indent: -999999px;
        display: block;
        width: 196px;
        margin: 5px auto;
        background: url('img/logo.png') no-repeat scroll 0px 0px / 196px 22px transparent;   
    }
    

    .header__logo--v {
        position: static;
        width: auto;
        top: 0;
    }


    .header__contact {
        display: none;
    }
    
    
    .header--mobile {
        display: block;
        width: 100%;
        position: fixed;
        top: 42px;
        right: 0;
        height: 28px;
        background: $color-topbar;
        .topbar-info {
            display: none;            
        }
        li {
            margin: 7px 0;
            width: 33.33333333333333333%;
            float: left;
            a {
                text-align: center;
                display: block;    
                font-size: 12px;
                line-height: 1;
                color: rgb(0, 0, 0);
                .header__acccess--mobile {
                    position: relative;
                    &:before {
                        position: absolute;
                        top: 1px;
                        left: -10px;
                        content:"";
                        width: 7px;
                        height: 10px;
                        background: url('img/icon/pushpin.png') no-repeat scroll 0px 0px / 7px 10px transparent;
                    }
                }
                .header__phone--mobile {
                    position: relative;
                    &:before {
                        position: absolute;
                        top: 1px;
                        left: -14px;
                        content:"";
                        width: 10px;
                        height: 10px;
                        background: url('img/icon/phone.png') no-repeat scroll 0px 0px / 10px 10px transparent;
                    }
                }
                .header__pencil--mobile {
                    position: relative;
                    &:before {
                        position: absolute;
                        top: 1px;
                        left: -14px;
                        content:"";
                        width: 10px;
                        height: 10px;
                        background: url('img/icon/pencil.png') no-repeat scroll 0px 0px / 10px 10px transparent;
                    }
                }
            }
        }
    }

       
    #home, #home-blog, header--mini {
        display: none;
    }

    .header--v #menu-primary {
        a {
            color: darken($color-1, 50%);
            &:visit {
            }
            &:hover {
                /*color: darken($color-1, 25%);*/
            }
        }
        > .current_page_item a {
            /*color: darken($color-1, 25%);*/
        }
    }
}

.header--mini {
    position: fixed;
    top: -100px;
    height: 58px;
    width: 100%;
    background: $color-topbar;
}

.logo--mini {
    padding-top: 16px;
    padding-left: 10px;
    float: left;
    display: inline;
    > a {
        height: 22px;
        text-indent: -999999px;
        float: left;
        display: block;
        width: 191px;
        background: url('img/logo.png') no-repeat scroll 0px 0px / 191px 22px transparent;   
    }
}

/*--------------------------------------------------------------
5.2.1 Header--mimi
--------------------------------------------------------------*/
#menu-mini {
    height: 58px;
    > li {
        line-height: 58px;
        a:hover {
           color: $color-1;
        }
    }
    > .current_page_item a {
        color: darken($color-1, 25%);
        font-weight: bold;
    }
}

.header__tel--mini {
    margin-top: 8px;
}

.header__contact--mini {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10000;
    li {
        float: left;
	display: block;
    }
}


.header__link--mini {
    li {
        a {
            width: 66px;
            height: 58px;    
            display: block;    
            font-size: 11px;
            line-height: 1;
            color: darken($color-1, 50%);
            text-align: center;
        }
    }
}

.header__linktext--mini {
    display: block;
    padding-top: 36px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 50%;
    }
}

.header__acccess--mini {
    &:before {
        margin-left: -5px;
        width: 10px;
        height: 16px;
        background: url('img/icon/pushpin.png') no-repeat scroll 0px 0px / 10px 16px transparent;
    }
}

.header__phone--mini {
    &:before {
        margin-left: -8px;
        width: 16px;
        height: 16px;
        background: url('img/icon/phone.png') no-repeat scroll 0px 0px / 16px 16px transparent;
    }
}

.header__pencil--mini {
    &:before {
        margin-left: -8px;
        width: 16px;
        height: 16px;
        background: url('img/icon/pencil.png') no-repeat scroll 0px 0px / 16px 16px transparent;
    }
}



.header__contact--mini li.topbar-info {
    text-align: right;
    margin-right: 10px;
    p {
        color: rgb(0, 0, 0);
    }
}



#menu-mini > li, #menu-primary > li {
    float: left;
    text-align: center;
    a {
        padding: 0 10px;
    }
}

#toggle {
    display: none;
}

@media all and (max-width: 768px) {
    
    .header--mini, #contact--mini {
        display: none;
    }
       
    #nav {
        position: relative;
        z-index: 10000;        
    }
    
    #menu-primary {
        display: none;
        position: fixed;
        top: 70px;
    }
    
    #toggle {
        display: block;
        position: fixed;
        top: 4px;
        right: 12px;
        p {
            font-size: 11px;
        }
        span {
            height: 3px;
            width: 30px;
            margin: 1.5px 0 3px;
            border-radius: 1px;
            background: darken($color-1, 15%);
            display: block;
        }
    }
    
    #menu-primary > li {
        display: inline-block;
        width: 100%;
        text-align: center;
        background: $color-topbar;
        border-bottom: 1px solid rgb(180, 180, 180);
    }
}
