/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.2.0 Commons
--------------------------------------------------------------*/
header {
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1001;
}

.spectrum {
    background: url('img/spectrum.png');
    display: block;
    width: 100%;
    height: 8px;
}

#nav {
    width: 100%;
    /*position: relative;*/
    /*overflow: hidden;*/
    a {
        color: rgb(255, 255, 255);
        font-size: 16px;
    }
}

.menu > li > a {
    /*font-weight: bold;*/
}

.fixed {
	position: fixed;
	top: 0;
}

.nav-scroll {
    background: $color-topbar;
}

#home {
    position: fixed;
    display: block;
    width: 50px;
    height: 54px;
    top: 8px;
    left: 10px;
    margin-left: -60px;
    z-index: 10000;
    background: url('img/symbol_new_0.png') no-repeat scroll 0px 0px / 50px 54px transparent;
    text-indent: -999999px;
}

#home-blog {
    position: fixed;
    top: 8px;
    left: 10px;
    margin-left: -60px;
    z-index: 10000;
    background: url('img/symbol.png') no-repeat scroll 0px 0px / 48px 46px transparent;
    text-indent: -999999px;
}


/*--------------------------------------------------------------
5.2.1 Homepage
--------------------------------------------------------------*/
#header {
    position: relative;
    height: 68px;
    z-index: 1001;
}

#logo {
    padding-top: 12px;
    padding-left: 10px;
    a {
        height: 44px;
        text-indent: -999999px;
        float: left;
        display: block;
        width: 382px;
        background: url('img/logo_w.png') no-repeat scroll 0px 0px / 382px 44px transparent;   
    }
}

#contact li.topbar-info {
    text-align: right;
    margin-right: 20px;
    p {
        color: rgb(255, 255, 255);
    }
}

.route {
    font-size: 13px;
    line-height: 1.1;
}

.phone-munber {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 26px;
    line-height: 1;
}

.office-hour {
    font-size: 11px;
    line-height: 1;
}

#menu-primary {
    height: 72px;
    > li {
        line-height: 72px;
        a:hover {
           color: $color-3;
        }
    }
    > .current_page_item a {
        color: rgb(20, 20, 20);
    }
}

#secondary-nav {
    background: rgba(210, 210, 210, .9);
    width: 100%;
    height: 40px;
    z-index: 9999;
    top: 72px;
    li {
        float: left;
        padding: 0 30px 0;
        text-align: center;
        line-height: 40px;
        a {
            font-weight: bold;
            font-size: 12px;
            color: rgb(80, 80, 80);
        }
    }
    &.fixed-secondary {
	position: fixed;
	top:72px;
    }
}

#contact {
    position: fixed;
    top: 8px;
    right: 10px;
    z-index: 10000;
    li {
	display: inline-block;
	vertical-align: middle;
    }
}

.tel {
    display: none;            
}

@media all and (max-width: 768px) {
    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 42px;
        background: $color-topbar;
    }
    
    #logo a {
        height: 22px;
        text-indent: -999999px;
        float: left;
        display: block;
        width: 196px;
        background: url('img/logo.png') no-repeat scroll 0px 0px / 196px 22px transparent;   
    }

    #contact {
        width: 100%;
        position: fixed;
        top: 42px;
        right: 0;
        height: 28px;
        background: $color-topbar;
        .topbar-info {
            display: none;            
        }
        li {
            margin: 6px 0;
            width: 50%;
            float: right;
            a {
                display: block;    
                font-size: 12px;
                line-height: 1;
            }
       }
    }
       
    #home, #home-blog {
        display: none;
    }
}

/*--------------------------------------------------------------
5.2.2 Blog
--------------------------------------------------------------*/

#header-magazine {
    position: relative;
    background: rgb(55, 155, 225);
    height: 100px;
    z-index: 1001;
    h1 a {
        width: 325px;
        height: 72px;
        position: relative;
        top: 14px;
        left: 10px;
        text-indent: -999999px;
        background: url('img/logo-blog-kana.png') no-repeat scroll 0px 0px / 325px 72px transparent;
        float: left;
    }
}

.magazine-nav {
    height: 60px;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgb(240, 240, 240);
}

#menu-category a {
    color: rgb(0, 0, 0);
}

#menu-category > li, #menu-primary > li {
    float: left;
    text-align: center;
    a {
        padding: 0 20px;
    }
}

#menu-category > li {
    color: rgb(40, 40, 40);        
    line-height: 60px;
}

.sns-contact {
    display: inline;
    margin-left: 5px;    
}

#top-description {
    position: absolute;
    left: 480px;
    bottom: 40px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    a {
        color: rgb(255, 255, 255);
        &:hover {
            color: rgb(220, 220, 220);
        }
    }
}

#toggle {
    display: none;
}

@media all and (max-width: 768px) {
    
    #header-magazine {
        height: 72px;
    }

    #header-magazine h1 a {
        width: 216px;
        height: 48px;
        top: 12px;
        background: url('img/logo-blog-kana.png') no-repeat scroll 0px 0px / 216px 48px transparent;
    }
    
    #nav {
        position: relative;
        z-index: 10000;        
    }
    
    #menu-primary {
        display: none;
        position: fixed;
        top: 70px;
    }
    
    #toggle {
        display: block;
        position: fixed;
        top: 4px;
        right: 12px;
        p {
            font-size: 11px;
        }
        span {
            height: 4px;
            width: 30px;
            margin: 1px 0 3px;
            border-radius: 1px;
            background: rgb(255, 255, 255);
            display: block;
        }
    }
    
    #menu-category > li, #menu-primary > li {
        display: inline-block;
        width: 100%;
        text-align: center;
        background: $color-topbar;
    }
}

