/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */


/*--------------------------------------------------------------
6.1 - Single-post
--------------------------------------------------------------*/
.blog-grid {
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 2px;
}

.post__date {
    position: absolute;
    top: 40px;
    left: -16px;
    padding: 4px 10px;
    background: $color-1;
    font-size: 24px;
    color: white;
    text-align: center;
}

.post__date:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 6px solid rgb(0, 85, 165);
    border-left: 16px solid transparent;
}

#post__info {
    margin-top: 100px;
    padding: 20px; 
}

.widget-header h3 {
    font-size: 16px;
}

.widget-header a {
    font-size: 9px;
}

#post__info .avatar {
    width: 60%;
    margin: auto;
    text-align: center;
    border-radius: 200px;    
}

#writer-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#writer-desc {
    font-size: 12px;
    padding: 10px 10px 10px 15px;
}

.blog-keywords {
    padding: 10px;
}

.blog-keywords p {
    font-size: 12px;
}

.blog-keywords a {
    font-size: 12px;
}

.post__ad--bottom {
    width: 336px;
    margin: 20px auto;
}

.wp_social_bookmarking_light {
    float: left;
}

.post__title {
    padding: 20px 20px 10px;
    font-size: 24px;
    line-height: 1.2;
}

.post__info--tl {
    font-size: 14px;
    padding: 10px 20px;
    > li {
        float: left;
        display: inline-block;
        margin-right: 5px;
    }
    
    .avatar {
        width: 36px;
        height: 36px;
        margin-top: -6px;
        border-radius: 18px;
    }
    
    .post__date--tl {margin-left: 20px;}
    .post__category--tl {margin-left: 20px;}
    .post__tag--tl {margin-left: 20px;}
    
    .post-categories {
        float: right;
        display: inline-block;
        li {
            margin: 0;
        }
    }
}

.post__body {
    padding: 10px;
    p {
        font-size: 18px;
        padding: 10px;
        margin-bottom :10px;
        line-height: 1.6;
    }
    h2 {
        margin: 60px 0 20px;
        padding: 11px 15px 8px;
        font-size: 22px;
        color: darken($color-1, 20%);
        border-left: 4px solid darken($color-1, 20%);
        border-bottom: 2px dashed darken($color-1, 20%);
    }
    h3 {
        padding: 5px;
        margin: 10px 0;
        font-size: 18px;
        border-bottom: 1px dashed rgb(210, 210, 210);
    }
    img {
        max-width: 100%;
        width: auto;
        height: auto;
    }
    ol {
        li {
            list-style-type: decimal;
        }
    }
    ul {
        margin-left: 30px;
        li {
            list-style-type: disc;
        }
    }
    li {
        padding: 5px;
    }
    a {
        color: $color-1;
        &:hover {
            color: darken($color-1, 20%);            
        }
    }
    
    blockquote {
        position: relative;
        quotes: "\201C""\201D";
        font-size: 14px;
        padding: 20px 20px 10px 80px;
        margin: 10px;
        background: lighten($color-1, 36%);
        border-radius: 18px;
        p {
            font-size: 16px;
        }
    }

    blockquote:before {
        position: absolute;
        font-family: 'Georgia';
        content: open-quote;
        left: 10px;
        top: -10px;
        font-size: 186px;
        color: lighten($color-1, 5%);
    }
}

@media all and (max-width: 768px) {
    .post__title {
        padding: 10px 10px 0;
        font-size: 18px;
    }

    .post__info--tl {
        font-size: 12px;
        padding: 5px 15px;
        > li {
            margin-right: 5px;
        }

        .avatar {
            width: 24px;
            height: 24px;
            margin-top: -3px;
        }

        .post__date--tl {margin-left: 20px;}
        .post__category--tl, .post__tag--tl {display: none;}

        .post-categories {
            float: right;
            display: inline-block;
            li {
                margin: 0;
            }
        }
    }
    .post__body {
        blockquote {
            padding: 20px 20px 10px 20px;
        }

        blockquote:before {
            font-size: 86px;
        }
    }
}
/*article*/
#article__side {
    width: 240px;
}

#article__main {
    margin-left: 240px;
}

.article__side {
    position: absolute;
    top: 0;
}

.article__side--fixed {
    position: fixed;
    top: 40px;
}


.article__side--fixed--bottom {
    top: auto;
    bottom: 80px;
}

.recommend-posts {
    background: rgb(255, 255, 255);
    .heading {
        margin-bottom: 10px;
    }
}

.attention {
    font-size: 12px;
    padding: 10px;
    float: right;
}

@media all and (max-width: 768px) {
    #article__main, #article__side {
        width: 100%;
    }
    
    #article__main {
        margin: 0;
    }
    
    #article__side {
        position: relative;
        top: 0;
    }
    
            
    #article__side #post__info {
        margin: 0;
        padding-bottom: 15px;
    }

    #post__info li {
        display: inline-table;
        vertical-align: middle;
   }

    .blog-keywords, .post__date {
        display: none;            
    }
    #article__side #post__info .avatar {
        height: 48px;
        width: 48px;
        margin: 0 5px 0 15px;
   }

   #article__side #writer-name {
         font-size: 28px;
         margin: 0;
   }
}