/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

/*--------------------------------------------------------------
6.2 - Timeline
--------------------------------------------------------------*/
.aricle-link {
    margin: 0 auto;
}

.article-img, .article-img-tl {
    position: relative;
    min-height: 36px;
}

.article-img-tl {
    max-height: 360px;
    overflow: hidden;
}

@media all and (max-width: 768px) {
    .articles .blog-body {
        display: none;
    }
    .article-img-tl {
        max-height: 240px;
        overflow: hidden;
    }
}

/*--------------------------------------------------------------
6.3 - Recomnded-post
--------------------------------------------------------------*/

.recomended-article-info h4 {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recomended-article-info {
    padding: 10px;
}

.front-article-img {
    position: relative;
    max-height: 160px;
    overflow: hidden;
 }

.sidebar-article-img {
    position: relative;
    max-height: 120px;
    overflow: hidden;
}

.post-date {
    font-size: 11px;
    color: rgb(120, 120, 120);
}

/*paging*/
.nav-previous a, .nav-next a {
    display: block;
    margin: 10px 0;
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    background: rgb(180, 180, 180);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav-previous a:hover, .nav-next a:hover {
    color: rgb(80, 161,192);
    background: rgb(220, 220, 220);
}

.nav-previous, .nav-next {
    width: 49%;
}

.nav-previous {
    float: left;
    text-align: left;
}

.nav-next {
    float: right;
    text-align: right;
}