/* Welcome to Compass. Use this file to define 404 styles.
 * use @import "pages/404" */

/*404-notfound*/
.not-found {
    text-align: center;
    h2 {
        font-size: 48px;
        color: rgb(180, 180, 180);
    }
    p {
        font-size: 28px;
        color: rgb(120, 120, 120);
    }
    ul {
        width: 420px;
        margin: auto;
        li {
            margin: 15px;
            color: rgb(40, 40, 40);
            background: rgb(180, 180, 180);
            a {
                display:block;
                padding: 8px 20px;
                color: rgb(80, 80, 80);
                background: rgb(190, 190, 190);
                &:hover {
                    color: rgb(80, 161,192);
                    background: rgb(220, 220, 220);
                }
            }
        }
    }
}