/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

/*--------------------------------------------------------------
9.4 About
--------------------------------------------------------------*/
/*--------------------------------------------------------------
9.4.1 Access
--------------------------------------------------------------*/
#access {
    position: relative;
}

#gmap {
    height: 480px;
    width: 100%;
    z-index: 998;
}

#addrress {
    position: absolute;
    top: 80px;
    left: 100px;
    padding: 30px;
    background: rgb(255, 255, 255);
    z-index: 999;
}

#addrress h2 {
    font-size: 24px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

#addrress address {
    font-size: 14px;
}

#addrress ul {
    padding: 5px;
    font-size: 12px;
}

@media all and (max-width: 768px) {
    #addrress {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    #gmap {
        height: 360px;
    }
}

/*about*/
#activity { 
    h2 {
        font-size: 42px;
        font-weight: normal;
        margin-bottom: 40px;
    }
    .en {
        font-size: 64px;
        font-weight: normal;
        margin-top: 20px;
    }
    .jp {
        font-size: 22px;
        font-weight: normal;
        margin-bottom: 10px;
    }
}

.activity-title {
    margin: 10px 0 20px;
    font-size: 32px;
}

.activity-list-wrap {
    padding: 20px;
    img {
        width: auto;
        margin: auto;
    }
}

.activity-body {
    font-size: 14px;
    margin: 20px;
}

.tag-cloud {
    span {
        font-size: 12px;
        padding: 8px;
        margin: 4px;
        border-radius: 12px;
        background: rgb(210, 210, 210);
        color: rgb(0, 0, 0); 
    }
}

#content--kv #greeting {
    padding: 80px 0;
}

.greeting__body {
    padding: 10px;
}

.value__body {
    padding: 10px;
}

#values {
    padding: 80px 0;
    background: rgb(255, 255, 255);
}

/*value*/

#values h2 {
    font-size: 36px;
}
#values h3 {
    font-size: 18px;
}

#values ul li {
    font-size: 28px;
    padding: 10px;
}

#values span {
    font-size: 28px;
}

#values p {
    font-size: 16px;
}

/*team*/
#team {
    text-align: center;
    .en {
        font-size: 64px;
        font-weight: normal;
        margin-top: 20px;
    }
    .jp {
        font-size: 22px;
        font-weight: normal;
        margin-bottom: 10px;
    }
    li:nth-child(4n) {
        margin-right: 0;
    }
} 

.member__wrap {
    &:hover{
        background:lighten($color-1, 20%);
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
        color: rgb(60, 60, 60);
    }
    p {
    }
    .name {
        margin-top: 5px;
        font-size: 18px;
        color: rgb(80, 80, 80);
    }
    .subject-info {
        color: rgb(80, 80, 80);
        font-size: 14px;
    }
    .work-info {
        color: rgb(80, 80, 80);
        font-size: 12px;
    }
    img {
        -webkit-border-radius: 260px;
        -moz-border-radius: 260px;
        border-radius: 260px;
    }
}

/*team-img*/
.team__header {
    position: relative;
    @include display-flex();
    @include align-content(stretch);
}

.team__header--left {
    width: 33%;
    float: left;
}

.team__header--right {
    width: 67%;
}

.team__img {
    padding: 20px 40px;
}

.team__img img {
    background: rgb(255, 255, 255);
    @include border-radius(260px);
}

.team__body {
    padding: 20px;
    position: relative;
}

.team__copy {
    font-size: 36px;
}

.team__heading {
    font-size: 28px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.team-name-jp {
    font-size: 36px;
}

.team-name-en {
    font-size: 24px;
    color: darken($color-1, 40%);
    font-weight: normal;
}

.team-q {
    padding: 10px 120px;
}

.team-q__item {
    margin-bottom: 20px;
}

.team-q__heading {
    padding: 0;
    font-size: 22px;
}

.team-q__body {
    padding: 10px;
    font-size: 20px;
}

.review__item {
    position: relative;
    padding: 40px;
    margin: 40px 120px;
    font-size: 18px;
    background: $color-2;
    color: rgb(255, 255, 255);
    @include border-radius(30px);
    &:before {
        content: "";
        position: absolute;
        top: 60px;
        left: -80px;
        border-bottom: 20px solid $color-2;
        border-left: 80px solid transparent;
    }
    &:after {
        content: "";
        position: absolute;
        top: 80px;
        left: -80px;
        border-top: 40px solid $color-2;
        border-left: 80px solid transparent;
    }
}

#team-post li:nth-child(4n) {
    margin-right: 0;
}

.sns-list {
    position: absolute;
    right: 20px;
    top: 40px;
    li {
        float: left;
        margin: 10px;
    }
}

.flexbox {
    @include display-flex();
    @include flex-wrap(wrap);
    @include align-content(stretch);
}

.member__wrap {
    width: 17%;
    padding: 4%;

}


@media all and (max-width: 768px) {
    #team {
        .en {
            font-size: 32px;
        }
        .jp {
            font-size: 12px;
        }
        li {
            float: left;
            width: 48%;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
    
    .member__wrap {
        h3 {
            font-size: 16px;
            font-weight: normal;
        }
        p {
        }
        .name {
            margin-top: 5px;
            font-size: 11px;
            color: rgb(80, 80, 80);
        }
        .subject-info {
            color: rgb(80, 80, 80);
            font-size: 9px;
        }
        .work-info {
            color: rgb(80, 80, 80);
            font-size: 9px;
        }
        img {
            -webkit-border-radius: 260px;
            -moz-border-radius: 260px;
            border-radius: 260px;
        }
    }
    
    .team__img {
        padding: 10px 20px;
    }

    .team-q {
        padding: 10px;
    }

    .team-q__item {
        margin-bottom: 10px;
    }

    .team-q__heading {
        font-size: 18px;
    }

    .team-q__body {
        padding: 0 10px;
        font-size: 16px;
    }
    .review__item {
        padding: 20px;
        margin: 20px 40px;
        font-size: 16px;
        @include border-radius(20px);
        &:before {
            top: 40px;
            left: -40px;
            border-bottom: 10px solid $color-2;
            border-left: 40px solid transparent;
        }
        &:after {
            top: 50px;
            left: -40px;
            border-top: 20px solid $color-2;
            border-left: 40px solid transparent;
        }

    }

    .sns-list {
        position: relative;
        top: 10px;
        right: 0;
    }
    .member__wrap {
        width: 34%;
        padding: 8%; 
    }
}

/*floor*/
.floor__img__wrap {
    padding: 20px;
}
.floor_img {
    max-width: 640px;
    margin: 20px auto;
}

.floor__detail {
    padding: 20px;
}

.floor__detail__heading {
    font-size: 24px;
    margin: 10px 0;
}