/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

/*circle*/
#circle {
    .jp {font-size: 18px;}
}


#events-list {
    &> li {
        display: table;
        position: relative;
    }
}

.evemts-item {
    padding: 40px;
    border-bottom: 1px solid rgb(230, 221, 207);
}

.events-item__img {
    height: 240px;
    overflow: hidden;
}

.events-item__body {
    
}