/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

/*contact*/
#contact-form {
    padding: 40px 0;
}

.contact-form__text {
    padding: 10px;
}
    
.contact-form__wrap input[type=email], .contact-form__wrap input[type=text], .contact-form__wrap input[type=tel], .contact-form__wrap textarea {
    display: block;
    padding: 12px 3%;
    font-size: 24px;
    width: 94%;
    border: 1px solid rgb(210, 210, 210);
}

.contact-form__wrap {
    margin: 20px;
}

.contact-form__wrap select {
    width: 100%;
    display: block;
    padding: 12px 3%;
    font-size: 22px;
    font-weight: bold;
    color: rgb(120, 120, 120);
    border: 1px solid rgb(210, 210, 210);
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: .01px;
    text-overflow: "";
    option {
        font-size: 18px;
        margin: 10px;
    }
}

    .menu-991:after {
        right: 0;
        top: 0;
        content: "";
    }


.contact-form__wrap textarea {
    height: 180px;
}

.contact-form__wrap input[type="submit"] {
    width: 100%;
    font-size: 22px;
}
