/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

/*contact*/
.contact-form {
    padding: 10px;
}

.contact-form p {
    display: none;
}

.contact-form input, .contact-form textarea {
    display: block;
    padding: 12px 3%;
    font-size: 24px;
    width: 94%;
    border: 1px solid rgb(210, 210, 210);
}

.contact-form select {
    width: 100%;
    padding: 12px;
    display: block;
    font-size: 24px;
    color: rgb(120, 120, 120);
    border: 1px solid rgb(210, 210, 210);

    position: relative;
    height: 45px;
    font-size: 100%;
    padding: 12px 50px 12px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: .01px;
    text-overflow: "";
}

    .menu-991:after {
        right: 0;
        top: 0;
        content: "";
    }


.contact-form textarea {
    height: 180px;
}

.contact-form input[type="submit"] {
    height: auto;
}
