/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

/*faq----------------------------------------------------------------------------------------------------------------------*/
#faq-list {
    clear: both;
    h2 {
        padding: 40px 20px 0;
        font-weight: normal;
        font-size: 24px;
    }
    li {
        padding: 20px;
        border-bottom: 1px solid rgb(180, 180, 180);
        &:hover {
            background: $color-topbar;
        }
    }
    dl {
        clear: both;
        overflow: hidden;
    }
    dl dt {
       float: left;
        font-size: 42px;
    }
    dl dd {
        margin-top: 20px;
        margin-left: 48px;
    }
    dl.q dt {
        color: $color-4;
    }
    dl.q dd {
        font-weight: bold;
    }
    dl.a dt {
        color: $color-3;
    }
}