/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */


.features-info {
    text-align: center;
}

.features-info h4 {
    font-size: 20px;
}

.features-info p {
    padding: 10px 30px;
    font-size: 14px;
}

#features-psychology {
    
}

/*lesson-features*/
#features-person {
    background: rgb(219, 101, 101);
    background: rgb(80, 161,192);
    color: rgb(240, 240, 240);
}

#features-person h2 {
    font-size: 36px;
    margin: 40px 0;
    color: rgb(255, 255, 255);
}

.person-disc {
    font-size: 18px;
    margin: 20px;
}

#features-person ul {
    overflow: hidden;
}

#features-person li div {
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, .3);
    margin-bottom: 30px;
    border: 1px solid rgb(50, 101,132);
    border-radius: 4px;
}
#features-person h3 {
    text-align: center;
    font-size: 28px;
    margin-top: 80px;
}

#features-person li h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

#features-person li p {
    padding: 10px;
}

#features-person a {
    color: rgb(255, 255, 255);
}

#features-person a:hover {
    color: rgb(180, 180, 180);
}

.cross {
    text-align: center;
    font-size: 128px;
    margin: 0;
}

#features-communication {
    background: rgb(255, 255, 255);
}

#features-communication h2 {
    font-size: 36px;
    margin: 40px 0 0;
}

#features-communication h2 + p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 80px;
    color: rgb(180, 180, 180);
}

.quote {
    font-size: 64px;
    color: rgb(100, 100, 100);
}

#features-fee {
/*    background: rgb(250, 150, 150);*/
}

#features-fee h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 40px;
    color: rgb(80, 80, 80);
    font-weight: normal;
}

.table {
    width: 100%;
    border-collapse: collapse;
    th {
        padding: 10px;
    }
    td {
        padding: 10px;
    }
}

#fee-table {
    th{
        width: 30%;
        font-weight: normal;
        font-size: 16px;
        padding-right: 15px;
        text-align: right;
        border-right: 1px solid rgb(80, 80, 80);
    }
    td {
        width: 70%;
        padding-left: 15px;
        font-size: 18px;
        color: rgb(120, 120, 120);
        span {
            font-family: 'Lily Script One', cursive;
            font-size: 32px;
            margin: 0 15px;
            color: $color-1;
        }
    }
}

/*fee*/

/*lesson*/
.inner-left{
    float: left;
    width: 50%;
}

.inner-right {
    float:right;
    width: 50%;
}

.inner-bottom {
    clear: both;
}

/*psychology*/
#features-psychology {
    background: rgb(255, 255, 255);
}

.psychology-header {
    margin-left: 10%;
}

#features-psychology h2 {
    font-size: 36px;
    margin: 40px 0 80px;
    color: rgb(80, 80, 80);
}

#features-psychology h3 span {
    font-size: 46px;
}

.psychology-grid {
    float: left;
    width: 25%;
    padding: 4%;
    text-align: center;
}

.psychology-grid h4 {
    font-size: 13px;
    margin: 20px 0;
}

/*policy*/
#policy {
    background: rgb(255,255,255);
    h1 {
        text-align: center;
        font-size: 18px;
        padding: 20px 0;
        color: rgb(180, 180, 180);
    }
    h2 {
        text-align: center;
        font-size: 36px;
        padding: 20px;
        color: rgb(120, 120, 120);
        font-weight: normal;
    }
    h3 {
        text-align: center;
        font-size: 28px;
        margin: 10px 0;
        color: rgb(120, 120, 120);
        font-weight: normal;
    }
    h4 {
        margin-left: 10px;
    }

    p {
        width: 90%;
        margin: 0 auto;
        padding: 10px 10px;
        line-height: 2.1;   
        font-size: 16px;
    }
    span {
        margin-right: 10px;
        font-size: 36px;
        font-family: 'Lily Script One', cursive;
    }
}

@media all and (max-width: 768px) {
    #policy {
        h2 {
            font-size: 28px;
        }
        h3 {
            font-size: 14px;
        }

        p {
            font-size: 12px;
            line-height: 1.9;
        }
        .quote {
            font-size: 32px;
        }
        img {
            margin-top: 80px;
        }
    }
    #fee-table {
        th{
            font-size: 11px;
        }
        td {
            font-size: 12px;
            span {
                font-size: 28px;
            }
        }
    }
}