/* Welcome to Compass. Use this file to define typography styles.
 * use @import "partials/typography)" */

/*--------------------------------------------------------------
4.4 - Breadcrumb
--------------------------------------------------------------*/
.breadcrumb {
    padding: 5px;
}

.breadcrumb a {
    font-size: 11px;
}

.breadcrumb strong {
    font-size: 12px;
}
