/* Welcome to Compass. Use this file to define button styles.
 * use @import "ui/elements/buttons)" */


.btn, .btn:visited {
    display: inline-block;
    border: 0;    
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    &:hover {
        color:rgb(255, 255, 255);
    }
}

.btn-contact {
    background: $color-1;
    height: 48px;
    line-height: 48px;
    width: 160px;
}

@media screen and (max-width: 768px) {
    .btn-contact {
        height: auto;
        line-height: auto;
        width: auto;
        background: none;
    }
}

.btn-flat {
    height: 48px;
    line-height: 48px;
    color: rgb(255, 255, 255);
    background: $color-1;
    @include border-radius (2px);
    &:hover {
        opacity: .7;
        color: rgb(255, 255, 255);        
    }
}

.btn-shadow {
    position: relative;
    top: 0;
    @include box-shadow (rgb(24, 83, 155) 0 4px 0);
    @include border-radius (3px);
    &:hover {
        transition: none;
        top: 2px;
        color: rgb(255, 255, 255);
        @include box-shadow (rgb(24, 83, 155) 0 2px 0);
    }
}

.mv-btn {
    margin: 40px auto;
    padding: 16px 24px 12px;
    font-size: 20px;
    font-weight: bold;
    background: $color-1;
}

#fb-icon {
    background: $color-fb;
}

#tw-icon {
    background: $color-tw;
}

.tags {
    li {
        float: left;
        a {
               display: inline-block;
               margin: 10px;
               padding: 4px 8px 5px;
               line-height: 1;
               border: 0;
               background: rgb(220, 220, 220);
               @include border-radius(2px);
        }
    }
}
