/* Welcome to Compass. Use this file to define button styles.
 * use @import "ui/elements/buttons)" */


.btn {
    display: inline-block;
    border: 0;    
    cursor: pointer;
    text-align: center;
}

a.btn {
    color:rgb(255, 255, 255);
    &:visited {
        color:rgb(255, 255, 255);    
    }
}

.btn--hv:hover {
    opacity: .6;
}
/*
.btn-contact {
    background: $color-1;
    height: 48px;
    line-height: 48px;
    width: 160px;
}

@media screen and (max-width: 768px) {
    .btn-contact {
        height: auto;
        line-height: auto;
        width: auto;
        background: none;
    }
}*/

.btn-flat {
    height: 48px;
    line-height: 48px;
    color: rgb(255, 255, 255);
    background: $color-3;
    @include border-radius (2px);
    &:hover {
        opacity: .7;
        color: rgb(255, 255, 255);        
    }
}

.btn-shadow {
    position: relative;
    top: 0;
    @include box-shadow (rgb(24, 83, 155) 0 4px 0);
    @include border-radius (3px);
    &:hover {
        transition: none;
        top: 2px;
        color: rgb(255, 255, 255);
        @include box-shadow (rgb(24, 83, 155) 0 2px 0);
    }
}

.btn--s {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 20px 8px;
    font-size: 14px;
}

.btn--m{
    margin: 10px;
    padding: 14px 30px 11px;
    font-size: 18px;
}

.btn--l{
    margin: 20px;
    padding: 20px 40px 16px;
    font-size: 24px;
}

.btn--bordered {
    position: relative;
    border: 3px solid rgb(255, 255, 255);
}

@media all and (max-width: 768px) {
    .btn--s {
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 6px 20px 4px;
        font-size: 12px;
    }

    .btn--m{
        margin: 10px;
        padding: 12px 30px 10px;
        font-size: 16px;
    }

    .btn--l{
        margin: 20px;
        padding: 20px 40px 16px;
        font-size: 22px;
    }    
    .btn--bordered {
        border: 2px solid rgb(255, 255, 255);
    }
}


a.btn--bk {
    color: rgb(0, 0, 0);
    border-color: rgb(20, 20, 20);
    &:visited {
        color:rgb(0, 0, 0);    
    }
}


.btn--ronded {
    @include border-radius (12px);
}

.mv-btn {
    margin: 40px auto;
    padding: 16px 24px 12px;
    font-size: 20px;
    font-weight: bold;
    background: $color-1;
}

.tags {
    li {
        float: left;
        a {
               display: inline-block;
               margin: 10px;
               padding: 4px 8px 5px;
               line-height: 1;
               border: 0;
               background: rgb(220, 220, 220);
               @include border-radius(2px);
        }
    }
}
